@font-face {
  src: url('../fonts/RoslindaleVariable-VF-Edu.woff2') format("woff2"),
       url('../fonts/RoslindaleVariable-VF-Edu.woff') format("woff");
  font-family: 'Roslindale Variable';
  font-style: normal;
  font-weight: bold;
}


@font-face {
  src: url('../fonts/Roslindale-DisplayCondensedLight-Edu.woff2') format("woff2"),
       url('../fonts/Roslindale-DisplayCondensedLight-Edu.woff') format("woff");
  font-family: 'Roslindale';
  font-style: normal;
  font-weight: 300;
}


@font-face {
  src: url('../fonts/Roslindale-DisplayNarrowBlack-Edu.woff2') format("woff2"),
       url('../fonts/Roslindale-DisplayNarrowBlack-Edu.woff') format("woff");
  font-family: 'Roslindale';
  font-style: normal;
  font-weight: 800;
}

