/* MEDIA QUERY FOR SMALLER DESKTOP SCREENS AND SMALLER */
@media screen and (max-width: 980px) {
  header {
    padding-bottom: 0;
    justify-content: center;
    position: sticky;
    position: -webkit-sticky;

    h1 {
      display: none;
    }

    nav {
      width: 100%;
      margin: 20px 0;

      ul {
        justify-content: space-around;

        li a {
          font-size: 20px;
        }
      }
    }
  }

  footer h2,
  footer div {
    text-align: center;
    width: 100%;
  }

  .word-line p {
    min-width: 40%;
  }

  .word-line {
    overflow: hidden;
  }

  .word-line:nth-child(7) {
    left: 186px;
  }

  .intro div {
    justify-content: space-evenly;

    svg {
      margin: 2vh auto;
      width: 336px;
      height: 230px;

      &:hover {
        height: 336px;
      }
    }
  }

  .intro-container {
    flex-direction: column;
    align-items: center;

    p {
      text-align: center;
    }
  }

  .section-title {
    width: 80%;
    margin-bottom: 1vh;
  }

  .card-wrapper {
    margin: 19em auto;
    height: 120vh;
    flex-direction: column;
    align-items: center;
  }

  .cards {
    width: 330px;
    height: 100%;
    flex-direction: column;
    left: 0px;
  }

  .card {
    transform: skewY(0deg);

    &:first-child {
      align-self: flex-end;
    }

    &:not(:first-child) {
      margin-top: -6rem;
      margin-left: 0rem;
    }

    &:nth-child(odd) {
      transform: rotate(-3deg) translateX(-10rem);
    }

    &:nth-child(even) {
      transform: rotate(4deg) translateX(10rem);
    }

    &:hover,
    &:active {
      transform: rotate(5deg) translateX(5rem) translateY(-3rem) scale(1.3);
    }

    &:hover ~ .card,
    &:active ~ .card {
      transform: rotate(-13deg) translateY(3rem) translateX(-12rem);
    }
  }

  .app-picture {
    clip: rect(0, 100px, 200px, 0);
    width: 100%;
    height: auto;

    img {
      content: url(https://unsplash.it/265/146);
      width: 100%;
      height: 100%;
    }
  }
  .contact {
    padding: 0 10%;
    margin-bottom: 42px;
  }
}

/* MEDIA QUERY FOR TABLETS AND SMALLER */
@media screen and (max-width: 768px) {
  header {
    h1 {
      display: none;
    }

    nav {
      width: 100%;

      ul li a {
        width: 100%;
      }
    }
  }

  .intro div svg {
    width: 100%;
    width: 336px;
  }
  .card-wrapper {
    margin: 19em auto 40em auto;
  }

  .card {
    &:nth-child(odd) {
      transform: rotate(-3deg) translateX(-5rem);
    }

    &:nth-child(even) {
      transform: rotate(4deg) translateX(5rem) translateY(5rem);
    }

    &:nth-child(3) {
      transform: rotate(-3deg) translateX(-5rem) translateY(10rem);
    }
    &:nth-child(4) {
      transform: rotate(4deg) translateX(5rem) translateY(15rem);
    }
    &:nth-child(5) {
      transform: rotate(-3deg) translateX(-5rem) translateY(20rem);
    }
  }
  .contact {
    padding: 0 10%;
    margin-bottom: 42px;
  }
}

/* MEDIA QUERY FOR MOBILE PHONES AND SMALLER */
@media screen and (max-width: 575px) {
  html, body {
    width: 100%;
    height: auto;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;
  }

  header {
    padding: 0px;

    h1 {
      margin-bottom: 20px;
    }

    nav {
      margin: 20px 0;
      width: 100%;
      display: flex;
      justify-content: flex-end;

      ul li a {
        margin: 0 5px;
        font-size: 16px;
      }
    }
  }

  .section-title {
    position: relative;
    width: 95%;
  }

  .intro p {
    width: 80%;
    margin-bottom: 1rem;
  }
  .container {
    align-items: flex-start;
  }

  #what-i-do {
    position: relative;
    top: 40rem;
    width: 100%;
  }

  .words {
    transform: translateX(-5rem);
  }

  .card-wrapper {
    margin: 0 auto 72em auto;
    position: relative;
    top: -10rem;
  }

  .card {
    margin-top: 1rem;
  }

  .cards {
    height: 178%;
    transform: scale(0.7)
  }

  .card {
    &:nth-child(odd) {
      transform: rotate(-3deg) translateX(-2rem);
    }

    &:nth-child(even) {
      transform: rotate(4deg) translateX(2rem) translateY(5rem);
    }

    &:nth-child(3) {
      transform: rotate(-3deg) translateX(-2rem) translateY(10rem);
    }
    &:nth-child(4) {
      transform: rotate(4deg) translateX(2rem) translateY(15rem);
    }
    &:nth-child(5) {
      transform: rotate(-3deg) translateX(-2rem) translateY(20rem);
    }
    &:hover,
    &:active {
      transform: rotate(5deg) translateY(-3rem) scale(1.3);
    }

    &:hover ~ .card,
    &:active ~ .card {
      transform: rotate(-13deg) translateY(3rem);
    }
  }
}
