/* MEDIA QUERY FOR SMALLER DESKTOP SCREENS AND SMALLER */
@media screen and (max-width: 980px) {
  header {
    padding-bottom: 0;
    justify-content: center;
    position: sticky;
    position: -webkit-sticky;

    h1 {
      display: none;
    }

    nav {
      width: 100%;
      margin: 20px 0;

      ul {
        justify-content: space-around;

        li a {
          font-size: 20px;
        }
      }
    }
  }

  footer h2,
  footer div {
    text-align: center;
    width: 100%;
  }

  .word-line p {
      min-width: 40%;
    }

    .word-line {
      overflow: hidden;
    }

    .word-line:nth-child(7) {
      left: 186px;
    }

  .intro div {
    justify-content: space-evenly;

    svg {
      margin: 2vh auto;
      width: 336px;
      height: 230px;

      &:hover {
        height: 336px;
      }
    }
  }



  .intro-container {
    flex-direction: column;
    align-items: center;

    p {
      text-align: center;
    }
  }

  .section-title {
    width: 80%;
    margin-bottom: 1vh;
  }

  .card-wrapper {
    margin: 19em auto;
    height: 120vh;
    flex-direction: column;
    align-items: center;
  }

  .cards {
    width: 330px;
    height: 100%;
    flex-direction: column;
    left: 0px;
  }

  .card {
    transform: skewY(0deg);

    &:first-child {
      align-self: flex-end;
    }

    &:not(:first-child) {
      margin-top: -6rem;
      margin-left: 0rem;
    }

    &:hover,
    &:active {
      transform: rotate(5deg) translateX(5rem) translateY(-3rem) scale(1.3);
    }

    &:hover ~ .card,
    &:active ~ .card {
      transform: rotate(-13deg) translateY(3rem) translateX(-12rem);
    }
  }

  .app-picture {
    clip: rect(0, 100px, 200px, 0);
    width: 100%;
    height: auto;

    img {
      content: url(https://unsplash.it/265/146);
      width: 100%;
      height: 100%;
    }
  }

}

/* MEDIA QUERY FOR TABLETS AND SMALLER */
@media screen and (max-width: 768px) {
  header {
    h1 {
      display: none;
    }

    nav {
      width: 100%;

      ul li a {
        width: 100%;
      }
    }
  }

  .intro div svg {
    width: 100%;
    width: 336px;
  }
}

/* MEDIA QUERY FOR MOBILE PHONES AND SMALLER */
@media screen and (max-width: 575px) {
  header {
    padding: 0px;

    h1 {
      margin-bottom: 20px;
    }

    nav {
      margin: 20px 0;
      width: 100%;
      display: flex;
      justify-content: flex-end;

      ul li a {
        margin: 0 5px;
        font-size: 16px;
      }
    }
  }

  .section-title {
    width: 95%;
  }

  .intro p {
    width: 100%;
  }
  .container {
    right: 48px;
    top: -136px;
    align-items: flex-start;
  }

  .words {
    margin: 0;
    width: 100%;
    overflow: hidden;
  }

  .word-line p {
    max-width: 70%;
    min-width: 45%;
    overflow: hidden;
  }
}
