/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

* {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
// END OF RESET

html {
  font-family: "Source Sans Pro", Helvetica, Arial, sans-serif;
}

// GRADIENT BACKGROUND

body {
  display: flex;
  flex-wrap: wrap;
  background: linear-gradient(
    311deg,
    #ffd452,
    #544a7d,
    #0575e6,
    #00f260,
    #1a2a6c,
    #b21f1f,
    #fdbb2d
  );
  background-size: 1400% 1400%;
  color: white;
  -webkit-animation: gradient 18s ease infinite;
  -moz-animation: gradient 18s ease infinite;
  animation: gradient 18s ease infinite;
  display: flex;
}

@-webkit-keyframes gradient {
  0% {
    background-position: 0% 11%;
  }
  50% {
    background-position: 100% 90%;
  }
  100% {
    background-position: 0% 11%;
  }
}
@-moz-keyframes gradient {
  0% {
    background-position: 0% 11%;
  }
  50% {
    background-position: 100% 90%;
  }
  100% {
    background-position: 0% 11%;
  }
}
@keyframes gradient {
  0% {
    background-position: 0% 11%;
  }
  50% {
    background-position: 100% 90%;
  }
  100% {
    background-position: 0% 11%;
  }
}
// END OF GRADIENT BACKGROUND

// HEADER
header {
  padding: 20px 36px;
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  position: sticky;
  position: -webkit-sticky;
  top: 0;
  z-index: 9999;
}

header h1 {
  font-size: 36px;
  max-width: 100%;
}

header a {
  text-decoration: none;
  color: white;
}

header nav {
  width: 36%;
}

header nav ul {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

// AVATAR PICTURE
.container {
  display: flex;
  min-width: 100%;
  justify-content: space-evenly;
  flex-wrap: wrap;
  align-items: center;
  flex-direction: row-reverse;
}

.container svg {
  max-width: 100%;
  min-width: 100px;
  border-radius: 36px;
  filter: drop-shadow(10px 10px 10px black) brightness(105%) opacity(75%);
  order: 2;

}

.container svg:hover {
  filter: drop-shadow(10px 10px 10px yellow);
}




// SKEWED NAME TEXT

// Copyright (c) 2021 by James Bosworth (https://codepen.io/bosworthco/pen/YWBLpR)

// Permission is hereby granted, free of charge, to any person obtaining a copy of this software and associated documentation files (the "Software"), to deal in the Software without restriction, including without limitation the rights to use, copy, modify, merge, publish, distribute, sublicense, and/or sell copies of the Software, and to permit persons to whom the Software is furnished to do so, subject to the following conditions:

// The above copyright notice and this permission notice shall be included in all copies or substantial portions of the Software.

// THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM, OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE SOFTWARE.

$total-lines: 6;
$left-offset: 29px;
$clip-height: 50px;
$line-height: $clip-height - 5px;

.words {
  padding: 80px 0;
  font-size: 68px;
  font-weight: 900;
  letter-spacing: -2px;
  text-transform: uppercase;
  // Sort out nasty text fuzz
  transform: translate3d(0, 0, 0);
  -webkit-font-smoothing: antialiased;
  -webkit-font-kerning: normal;
  -webkit-text-size-adjust: 100%;
}

/*
** Apply common styles to each line of text
*/
.word-line {
  height: $clip-height;
  overflow: hidden;
  position: relative;

  // Change the perspective of each alternating line
  &:nth-child(odd) {
    transform: skew(60deg, -30deg) scaleY(0.66667);
  }
  &:nth-child(even) {
    transform: skew(0deg, -30deg) scaleY(1.33333);
  }

  // Loop over the total lines and apply a left offset
  @for $i from 1 through $total-lines + 1 {
    &:nth-child(#{$i}) {
      left: $left-offset * $i;
    }
  }
}

/*
** Fine-grained text styles
*/
p {
  height: $clip-height;
  line-height: $line-height;
  padding: 0 10px;
  transition: all 0.4s ease-in-out;
  transform: translate3d(0, 0, 0);
  vertical-align: top;
  white-space: nowrap;
}

/*
** The hover interaction
*/
.words:hover {
  p {
    transform: translate3d(0, -($clip-height), 0);
  }
  color: black;
}

// END OF SKEWED NAME TEXT

// UTILITIES

.flex-row {
  display: flex;
}