/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
* {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

html {
  font-family: "Source Sans Pro", Helvetica, Arial, sans-serif;
}

body {
  background: linear-gradient(311deg, #ffd452, #544a7d, #0575e6, #00f260, #1a2a6c, #b21f1f, #fdbb2d);
  background-size: 1400% 1400%;
  color: white;
  -webkit-animation: gradient 18s ease infinite;
  animation: gradient 18s ease infinite;
}

@-webkit-keyframes gradient {
  0% {
    background-position: 0% 11%;
  }
  50% {
    background-position: 100% 90%;
  }
  100% {
    background-position: 0% 11%;
  }
}

@keyframes gradient {
  0% {
    background-position: 0% 11%;
  }
  50% {
    background-position: 100% 90%;
  }
  100% {
    background-position: 0% 11%;
  }
}

header {
  padding: 20px 36px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: sticky;
  position: -webkit-sticky;
  top: 0;
  z-index: 9999;
}

header h1 {
  font-size: 36px;
  max-width: 100%;
  text-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}

header a {
  text-decoration: none;
  color: white;
}

header nav {
  width: 36%;
}

header nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  list-style: none;
}

header nav ul li a {
  padding: 10px 15px;
  font-weight: lighter;
  font-size: 1.36vw;
  text-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
  border-radius: 15px;
  -webkit-transition: 0.18s;
  transition: 0.18s;
}

header nav ul li a:hover {
  background-color: white;
  color: black;
  text-shadow: none;
}

.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-width: 100%;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}

.container svg {
  max-width: 100%;
  min-width: 100px;
  border-radius: 36px;
  -webkit-filter: drop-shadow(10px 10px 10px black) brightness(105%) opacity(75%);
          filter: drop-shadow(10px 10px 10px black) brightness(105%) opacity(75%);
  -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
          order: 2;
}

.container svg:hover {
  -webkit-filter: drop-shadow(10px 10px 10px yellow);
          filter: drop-shadow(10px 10px 10px yellow);
}

.words {
  padding: 80px 0;
  font-size: 68px;
  font-weight: 900;
  letter-spacing: -2px;
  text-transform: uppercase;
  -webkit-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0);
  -webkit-font-smoothing: antialiased;
  -webkit-font-kerning: normal;
  -webkit-text-size-adjust: 100%;
}

/*
** Apply common styles to each line of text
*/
.word-line {
  height: 50px;
  overflow: hidden;
  position: relative;
}

.word-line:nth-child(odd) {
  -webkit-transform: skew(60deg, -30deg) scaleY(0.66667);
          transform: skew(60deg, -30deg) scaleY(0.66667);
}

.word-line:nth-child(even) {
  -webkit-transform: skew(0deg, -30deg) scaleY(1.33333);
          transform: skew(0deg, -30deg) scaleY(1.33333);
}

.word-line:nth-child(1) {
  left: 29px;
}

.word-line:nth-child(2) {
  left: 58px;
}

.word-line:nth-child(3) {
  left: 87px;
}

.word-line:nth-child(4) {
  left: 116px;
}

.word-line:nth-child(5) {
  left: 145px;
}

.word-line:nth-child(6) {
  left: 174px;
}

.word-line:nth-child(7) {
  left: 203px;
}

/*
** Fine-grained text styles
*/
p {
  height: 50px;
  line-height: 45px;
  padding: 0 10px;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
  -webkit-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0);
  vertical-align: top;
  white-space: nowrap;
}

/*
** The hover interaction
*/
.words:hover {
  color: black;
}

.words:hover p {
  -webkit-transform: translate3d(0, -50px, 0);
          transform: translate3d(0, -50px, 0);
}

.section-title {
  font-size: 48px;
  border-bottom: 3px solid;
  padding-bottom: 20px;
  text-align: center;
  margin: 336px auto 35px auto;
  width: 50%;
}

.intro p {
  line-height: 1.7;
  font-size: 20px;
  width: 80%;
  margin: 0 auto;
  text-align: center;
}

.flex-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
/*# sourceMappingURL=style.css.map */