:root[theme="dark"] {
  --primary-color: black;
  --secondary-color: white;
}

:root[theme="light"] {
  --primary-color: white;
  --secondary-color: black;
}

$primary-gradient: linear-gradient(
  311deg,
  #ffd452,
  #544a7d,
  #0575e6,
  #00f260,
  #1a2a6c,
  #b21f1f,
  #fdbb2d
);

$smooth-gradient: gradient 24s ease-in-out infinite;
$alternate-gradient: gradient 24s ease-in-out alternate infinite;
$wobble-animation: wobble 10s ease-in-out alternate infinite;

html {
  font-family: "Source Sans Pro", Helvetica, Arial, sans-serif;
  scroll-behavior: smooth;
}

// GRADIENT BACKGROUND

body {
  background: $primary-gradient;
  background-size: 1400% 1400%;
  color: var(--primary-color);
  -webkit-animation: $alternate-gradient;
  -moz-animation: $alternate-gradient;
  animation: $alternate-gradient;
}

@-webkit-keyframes gradient {
  0% {
    background-position: 0% 11%;
  }
  50% {
    background-position: 100% 90%;
  }
  100% {
    background-position: 0% 11%;
  }
}
@-moz-keyframes gradient {
  0% {
    background-position: 0% 11%;
  }
  50% {
    background-position: 100% 90%;
  }
  100% {
    background-position: 0% 11%;
  }
}
@keyframes gradient {
  0% {
    background-position: 0% 11%;
  }
  50% {
    background-position: 100% 90%;
  }
  100% {
    background-position: 0% 11%;
  }
}
// END OF GRADIENT BACKGROUND

.cover {
  height: 200vh;
}

.cover-container {
  clip: rect(0, auto, auto, 0);
  overflow: hidden;
  position: absolute;
  height: 100vh;
  left: 0;
  width: 100%;
}

.container-solid {
  background: var(--secondary-color);
  top: 0;
}

.title-wrapper {
  position: fixed;
  display: block;
  margin: auto;
  width: 100%;
  top: 50%;
  transform: translateY(-50%);

  h1 {
    text-align: center;
    font-size: 64px;
    text-transform: uppercase;
    font-weight: 900;
  }
}

.container-solid .title-wrapper h1 {
  background-image: $primary-gradient;
  background-size: 1400% 1400%;
  background-position: center;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
  animation: $smooth-gradient;
}

.container-image {
  background-size: 1400% 1400%;
  background-position: center;
  background-attachment: fixed;
  animation: $smooth-gradient;
  top: 100vh;

  .title-wrapper h1 {
    color: var(--primary-color);
  }
}
// END OF COVER

// HEADER
header {
  padding: 7px 36px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  position: sticky;
  position: -webkit-sticky;
  top: 0;
  z-index: 9999;

  h1 {
    font-size: 1.8rem;
    max-width: 100%;
    padding: 10px 15px;
    border-radius: 15px;
    background-color: var(--secondary-color);
    color: var(--primary-color);
    transition: 0.18s;

    &:hover {
      background-color: var(--primary-color);

      a {
        color: var(--secondary-color);
      }
    }
  }

  a {
    text-decoration: none;
    color: var(--primary-color);
  }

  nav {
    width: 36%;

    ul {
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
      align-items: center;
      list-style: none;

      li a {
        padding: 10px 15px;
        font-weight: lighter;
        font-size: 1rem;
        text-shadow: 0 0 5px rgba(var(--secondary-color), 0.5);
        border-radius: 15px;
        transition: 0.18s;
        background-color: var(--primary-color);
        color: var(--secondary-color);

        &:hover {
          background-color: var(--secondary-color);
          color: var(--primary-color);
          text-shadow: none;
        }
      }
    }
  }
}

// END OF HEADER

// SECTION STYLES
.section-title {
  font-size: 48px;
  padding-bottom: 20px;
  text-align: center;
  margin: 72px auto 36px auto;
  width: 50%;
  font-weight: 900;
}

// WHO I AM SECTION
.intro {
  p {
    line-height: 1.7;
    font-size: 26px;
    width: 50%;
    margin: 0 auto;
    text-align: center;
  }

  div {
    position: relative;
    z-index: 2;

    svg {
      margin: 20px 0 20px 150px;
      max-width: 100%;
      min-width: 100px;
      border-radius: 77% 23% 61% 39% / 46% 30% 70% 54%;
      filter: brightness(100%) saturate(100%) opacity(70%) contrast(4000%)
        drop-shadow(15px -15px 0);
      transition: 1080ms all;
      animation: $wobble-animation;
      shape-outside: border-box;

      &:hover,
      &:active {
        filter: none;
        width: 336px;
      }
    }
  }

}

@keyframes wobble {
  50% {
    border-radius: 56% 44% 62% 38% / 37% 57% 43% 63%;
  }
  100% {
    border-radius: 31% 69% 20% 80% / 24% 31% 69% 76%;
  }
}
// END OF WHO I AM SECTION

// WHAT I DO SECTION
#what-i-do div,
h2 {
  z-index: 3;
}

// FOOTER
footer {
  overflow: hidden;
  background-color: var(--secondary-color);
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  font-family: 'Roslindale Variable', serif;
  font-size: 169px;
  font-weight: bolder;
  font-style: italic;
  z-index: -1;
}

// UTILITIES

.flex-row {
  display: flex;
}



