:root[theme="light"] {
  --primary-color: white;
  --secondary-color: black;
  --primary-gradient: linear-gradient(
    311deg,
    #ffd452,
    #544a7d,
    #0575e6,
    #00f260,
    #1a2a6c,
    #b21f1f,
    #fdbb2d
  );
}

:root[theme="dark"] {
  --primary-color: black;
  --secondary-color: white;
}

html {
  font-family: "Source Sans Pro", Helvetica, Arial, sans-serif;
  scroll-behavior: smooth;
}

body {
  background: var(--primary-gradient);
  background-size: 1400% 1400%;
  color: var(--primary-color);
  -webkit-animation: gradient 24s ease-in-out infinite;
  animation: gradient 24s ease-in-out alternate infinite;
}

@-webkit-keyframes gradient {
  0% {
    background-position: 0% 11%;
  }
  50% {
    background-position: 100% 90%;
  }
  100% {
    background-position: 0% 11%;
  }
}

@keyframes gradient {
  0% {
    background-position: 0% 11%;
  }
  50% {
    background-position: 100% 90%;
  }
  100% {
    background-position: 0% 11%;
  }
}

.cover {
  height: 200vh;
}

.cover-container {
  clip: rect(0, auto, auto, 0);
  overflow: hidden;
  position: absolute;
  height: 100vh;
  left: 0;
  width: 100%;
}

.container-solid {
  background: var(--secondary-color);
  top: 0;
}

.title-wrapper {
  position: fixed;
  display: block;
  margin: auto;
  width: 100%;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.title-wrapper h1 {
  text-align: center;
  font-size: 64px;
  text-transform: uppercase;
  font-weight: 900;
}

.container-solid .title-wrapper h1 {
  background-image: var(--primary-gradient);
  background-size: 1400% 1400%;
  background-position: center;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-animation: gradient 24s ease-in-out alternate infinite;
          animation: gradient 24s ease-in-out alternate infinite;
}

.container-image {
  background-image: var(--primary-gradient);
  background-size: 1400% 1400%;
  background-position: center;
  background-attachment: fixed;
  -webkit-animation: gradient 24s ease-in-out alternate infinite;
          animation: gradient 24s ease-in-out alternate infinite;
  top: 100vh;
}

.container-image .title-wrapper h1 {
  color: var(--primary-color);
}

header {
  padding: 20px 36px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: sticky;
  position: -webkit-sticky;
  top: 0;
  z-index: 9999;
}

header h1 {
  font-size: 36px;
  max-width: 100%;
  text-shadow: 0 0 5px rgba(var(--secondary-color), 0.5);
}

header a {
  text-decoration: none;
  color: var(--primary-color);
}

header nav {
  width: 36%;
}

header nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  list-style: none;
}

header nav ul li a {
  padding: 10px 15px;
  font-weight: lighter;
  font-size: 1.36vw;
  text-shadow: 0 0 5px rgba(var(--secondary-color), 0.5);
  border-radius: 15px;
  -webkit-transition: 0.18s;
  transition: 0.18s;
}

header nav ul li a:hover {
  background-color: var(--primary-color);
  color: var(--secondary-color);
  text-shadow: none;
}

.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-width: 100%;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}

.container svg {
  max-width: 100%;
  min-width: 100px;
  border-radius: 77% 23% 61% 39% / 46% 30% 70% 54%;
  -webkit-filter: brightness(100%) saturate(100%) opacity(70%) contrast(4000%) drop-shadow(15px -15px 0);
          filter: brightness(100%) saturate(100%) opacity(70%) contrast(4000%) drop-shadow(15px -15px 0);
  -webkit-transition: 880ms -webkit-filter;
  transition: 880ms -webkit-filter;
  transition: 880ms filter;
  transition: 880ms filter, 880ms -webkit-filter;
  -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
          order: 2;
  -webkit-animation: wobble 15s ease-in-out alternate infinite;
          animation: wobble 15s ease-in-out alternate infinite;
}

.container svg:hover,
.container svg:active {
  -webkit-filter: none;
          filter: none;
  -webkit-animation: wobble 5s ease-in-out alternate infinite;
          animation: wobble 5s ease-in-out alternate infinite;
}

@-webkit-keyframes wobble {
  50% {
    border-radius: 56% 44% 62% 38% / 37% 57% 43% 63%;
  }
  100% {
    border-radius: 31% 69% 20% 80% / 24% 31% 69% 76%;
  }
}

@keyframes wobble {
  50% {
    border-radius: 56% 44% 62% 38% / 37% 57% 43% 63%;
  }
  100% {
    border-radius: 31% 69% 20% 80% / 24% 31% 69% 76%;
  }
}

.words {
  padding: 80px 0;
  font-size: 68px;
  font-weight: 900;
  letter-spacing: -2px;
  text-transform: uppercase;
  -webkit-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0);
  -webkit-font-smoothing: antialiased;
  -webkit-font-kerning: normal;
  -webkit-text-size-adjust: 100%;
}

/*
** Apply common styles to each line of text
*/
.word-line {
  height: 50px;
  overflow: hidden;
  position: relative;
}

.word-line:nth-child(odd) {
  -webkit-transform: skew(60deg, -30deg) scaleY(0.66667);
          transform: skew(60deg, -30deg) scaleY(0.66667);
}

.word-line:nth-child(even) {
  -webkit-transform: skew(0deg, -30deg) scaleY(1.33333);
          transform: skew(0deg, -30deg) scaleY(1.33333);
}

.word-line:nth-child(1) {
  left: 29px;
}

.word-line:nth-child(2) {
  left: 58px;
}

.word-line:nth-child(3) {
  left: 87px;
}

.word-line:nth-child(4) {
  left: 116px;
}

.word-line:nth-child(5) {
  left: 145px;
}

.word-line:nth-child(6) {
  left: 174px;
}

.word-line:nth-child(7) {
  left: 203px;
}

/*
** Fine-grained text styles
*/
.word-line p {
  height: 50px;
  line-height: 45px;
  padding: 0 10px;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
  -webkit-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0);
  vertical-align: top;
  white-space: nowrap;
}

/*
** The hover interaction
*/
.words:hover {
  color: var(--secondary-color);
}

.words:hover p {
  -webkit-transform: translate3d(0, -50px, 0);
          transform: translate3d(0, -50px, 0);
}

.section-title {
  font-size: 48px;
  border-bottom: 3px solid;
  padding-bottom: 20px;
  text-align: center;
  margin: 336px auto 35px auto;
  width: 50%;
}

.intro p {
  line-height: 1.7;
  font-size: 26px;
  width: 50%;
  margin: 0 auto;
  text-align: center;
}

.card-wrapper {
  margin: 0;
  display: -ms-grid;
  display: grid;
  place-items: center;
  overflow: hidden;
  height: 100vh;
}

.cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  height: 550px;
  width: 400px;
  left: -320px;
}

.card {
  background: rgba(105, 128, 192, 0.5);
  background-size: 800%;
  padding: 12px;
  border: 2px solid black;
  border-radius: 30px;
  -webkit-box-shadow: 4px 4px 15px 2px rgba(var(--primary-color), 0.7);
          box-shadow: 4px 4px 15px 2px rgba(var(--primary-color), 0.7);
  -webkit-transition: 0.2s;
  transition: 0.2s;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-transform: skewY(-25deg);
          transform: skewY(-25deg);
}

.app-picture {
  height: 50%;
  opacity: 1;
}

.app-picture img {
  height: 100%;
  border-radius: 20px 20px 10px 10px;
  border: 2px solid black;
  opacity: 1;
}

.card h2 {
  -webkit-margin-before: 0.83em;
          margin-block-start: 0.83em;
  -webkit-margin-after: 0.83em;
          margin-block-end: 0.83em;
  padding: 0px 30px;
  max-height: 25px;
}

.card p {
  padding: 20px 30px;
}

.text {
  font-family: "Montserrat", sans-serif;
  font-size: 18px;
  font-weight: 300;
  line-height: 30px;
  letter-spacing: 0.5px;
  color: var(--primary-color);
}

.card:not(:first-child) {
  margin-left: -4rem;
}

.card:hover, .card:active {
  -webkit-transform: translateY(-7rem);
          transform: translateY(-7rem);
  background-image: linear-gradient(331deg, #6980c0, #2146ac, #d8cb12);
  -webkit-animation: gradient 3s ease alternate infinite;
          animation: gradient 3s ease alternate infinite;
}

.card:hover ~ .card {
  -webkit-transform: skewY(-15deg) translateX(4rem);
          transform: skewY(-15deg) translateX(4rem);
}

.shape_shadow {
  position: absolute;
  top: 0;
  left: 0;
  background: #f0f7ff;
  width: 400px;
  height: 550px;
  border-radius: 30px;
  z-index: -10;
}

.flex-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
/*# sourceMappingURL=style.css.map */